<!-- wp:template-part {"slug":"header","area":"header","customId":"8d88dd"} /-->

<!-- wp:group {"customId":"6f16b9"} -->
<div class="wp-block-group"><!-- wp:group {"style":{"dimensions":{"minHeight":"80vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"center"},"customId":"cd61ad"} -->
<div class="wp-block-group" style="min-height:80vh"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"top"},"customId":"777e9f"} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"25px"}},"fontFamily":"oswald","customId":"abcdfa"} -->
<p class="has-text-align-center has-oswald-font-family" style="font-size:25px"><strong>Error 404!</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"25px"}},"fontFamily":"oswald","customId":"e27f62"} -->
<p class="has-text-align-center has-oswald-font-family" style="font-size:25px"><strong>The page you requested does not exist or has moved.</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","customId":"32d2b5"} /-->