<!-- wp:template-part {"slug":"header","area":"header","customId":"8d88dd"} /-->

<!-- wp:group {"customId":"6f16b9"} -->
<div class="wp-block-group"><!-- wp:group {"style":{"dimensions":{"minHeight":""},"spacing":{"margin":{"top":"10vh","bottom":"10vh"}}},"layout":{"type":"constrained"},"customId":"cd61ad"} -->
<div class="wp-block-group" style="margin-top:10vh;margin-bottom:10vh"><!-- wp:cover {"overlayColor":"dark","isUserOverlayColor":true,"minHeight":289,"minHeightUnit":"px","style":{"border":{"radius":"10px","width":"2px"},"spacing":{"padding":{"top":"0","bottom":"0"}}},"borderColor":"primary","customId":"f8e9c0"} -->
<div class="wp-block-cover has-border-color has-primary-border-color" style="border-width:2px;border-radius:10px;padding-top:0;padding-bottom:0;min-height:289px"><span aria-hidden="true" class="wp-block-cover__background has-dark-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"},"customId":"777e9f"} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"25px"}},"fontFamily":"oswald","customId":"abcdfa"} -->
<p class="has-text-align-center has-oswald-font-family" style="font-size:25px">Nothing here 404</p>
<!-- /wp:paragraph -->

<!-- wp:site-logo {"width":118,"shouldSyncIcon":false,"align":"center","width_desktop":118,"customId":"046669"} /-->

<!-- wp:buttons {"customId":"ea37ed","custom_js":"var $ = jQuery;\n$('this_block').addClass('DEEEEEZ');"} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-fill","style":{"border":{"radius":"10px"},"spacing":{"padding":{"left":"var:preset|spacing|lg","right":"var:preset|spacing|lg"}},"typography":{"lineHeight":"0.7"}},"fontSize":"22","fontFamily":"oswald","customId":"cbc668"} -->
<div class="wp-block-button has-custom-font-size is-style-fill has-oswald-font-family has-22-font-size" style="line-height:0.7"><a class="wp-block-button__link wp-element-button" href="/" style="border-radius:10px;padding-right:var(--wp--preset--spacing--lg);padding-left:var(--wp--preset--spacing--lg)">GO BACK</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","customId":"32d2b5"} /-->