<!-- wp:template-part {"slug":"header","area":"header","customId":"6a751b"} /-->

<!-- wp:cover {"overlayColor":"dark","isUserOverlayColor":true,"minHeight":231,"minHeightUnit":"px","customId":"85207c","style":{"spacing":{"margin":{"top":"0px","bottom":"-30px"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
<div class="wp-block-cover has-white-color has-text-color has-link-color" style="margin-top:0px;margin-bottom:-30px;min-height:231px"><span aria-hidden="true" class="wp-block-cover__background has-dark-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"customId":"81aecb","style":{"spacing":{"margin":{"top":"20px","bottom":"20px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:20px;margin-bottom:20px"><!-- wp:query-title {"type":"archive","textAlign":"center","font_size_tablet":"50px","font_size_mobile":"35px","customId":"cc4579","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"400"}},"fontSize":"30","fontFamily":"oswald"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tablet_padding":{"top":"20px","left":"20px","right":"20px","bottom":"20px"},"customId":"1c773e","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:group {"customId":"67bf9e","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"786db8","custom_css":"this_block{z-index:1;}","style":{"spacing":{"padding":{"right":"10px","left":"10px","top":"10px","bottom":"10px"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:columns {"customId":"0ec81d"} -->
<div class="wp-block-columns"><!-- wp:column {"width":"75%","width_desktop":"75%","customId":"52bbe7","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|xs"}}}} -->
<div class="wp-block-column" style="padding-bottom:var(--wp--preset--spacing--xs);flex-basis:75%"><!-- wp:query {"queryId":0,"query":{"perPage":9,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[]},"customId":"b53d84","layout":{"type":"default"},"customPostsPerPage":9} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"db1102","style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"300px"}} -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":80,"isUserOverlayColor":true,"minHeight":390,"minHeightUnit":"px","gradient":"custom-title-background","contentPosition":"bottom center","customId":"ab60e1","style":{"spacing":{"padding":{"bottom":"40px","right":"0px","top":"0px","left":"0px"},"blockGap":"0px"}},"layout":{"type":"constrained"},"linkToPost":true} -->
<div class="wp-block-cover has-custom-content-position is-position-bottom-center" style="padding-top:0px;padding-right:0px;padding-bottom:40px;padding-left:0px;min-height:390px" data-link-to-post="true"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-80 has-background-dim has-background-gradient has-custom-title-background-gradient-background"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"customId":"fee47f","style":{"spacing":{"blockGap":"10px","padding":{"left":"20px","right":"20px"}},"border":{"left":{"color":"var:preset|color|primary","width":"5px"},"top":[],"right":[],"bottom":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-left-color:var(--wp--preset--color--primary);border-left-width:5px;padding-right:20px;padding-left:20px"><!-- wp:group {"customId":"f738c4","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-date {"customId":"d858ef","fontSize":"14","fontFamily":"oswald"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"textAlign":"left","isLink":true,"customId":"b1fb78","style":{"typography":{"textTransform":"uppercase"}},"fontSize":"24","fontFamily":"oswald"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template -->

<!-- wp:myplugin/query-loop-load-more {"customId":"4d9b2c","custom_css":"this_block{text-align:center;}","backgroundColor":"primary","textColor":"white","fontFamily":"oswald","fontSize":"22","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase"},"spacing":{"padding":{"top":"10px","bottom":"10px","left":"20px","right":"20px"}}}} -->
<button type="button" class="wp-block-myplugin-query-loop-load-more query-loop-load-more-button has-white-color has-primary-background-color has-text-color has-background has-link-color has-oswald-font-family has-22-font-size" style="padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px;font-style:normal;font-weight:400;text-transform:uppercase">Load More</button>
<!-- /wp:myplugin/query-loop-load-more --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","customId":"fb3973","style":{"spacing":{"blockGap":"20px"}}} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:image {"id":260,"sizeSlug":"full","linkDestination":"none","customId":"0c9add"} -->
<figure class="wp-block-image size-full"><img src="https://stepfoxthemes.com/buzzed-2/wp-content/uploads/sites/46/2017/01/300x600so5px.jpg" alt="" class="wp-image-260"/></figure>
<!-- /wp:image -->

<!-- wp:group {"customId":"18a574","style":{"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}},"border":{"width":"1px"}},"backgroundColor":"light-gray","borderColor":"gray","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-gray-border-color has-light-gray-background-color has-background" style="border-width:1px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"customId":"7b09e2","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"desktop_margin":{"top":"","left":"-20px","right":"","bottom":""},"customId":"3e9279","style":{"typography":{"textTransform":"uppercase","lineHeight":"0.9"},"spacing":{"padding":{"left":"5px"},"margin":{"bottom":"20px"}},"border":{"left":{"color":"var:preset|color|primary","width":"15px"}}},"fontSize":"18","fontFamily":"oswald"} -->
<h4 class="wp-block-heading has-oswald-font-family has-18-font-size" style="border-left-color:var(--wp--preset--color--primary);border-left-width:15px;margin-bottom:20px;padding-left:5px;line-height:0.9;text-transform:uppercase">Newsroll</h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":8,"pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"0b4d07","layout":{"type":"default"},"customPostsPerPage":8} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"dcbda1","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"customId":"6fb58d","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"width_desktop":"100%","customId":"668cde","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"100%","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"customId":"9cc983","custom_css":"this_block{display:block;}","align":"full","style":{"typography":{"lineHeight":"1.2"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignfull" style="line-height:1.2"><!-- wp:post-date {"format":"M j, Y","customId":"8965c4","custom_css":"this_block{display:inline;float:left;}","style":{"spacing":{"margin":{"right":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"15px","textTransform":"uppercase","letterSpacing":"0px"}},"fontFamily":"oswald"} /-->

<!-- wp:post-title {"textAlign":"left","isLink":true,"customId":"efeade","custom_css":"this_block{float:none;}\nthis_block :where(a) {\n    display: inline;\n}","align":"full","style":{"typography":{"fontStyle":"normal","fontWeight":"400","lineHeight":"1.4","letterSpacing":"-0.2px"}},"fontSize":"14","fontFamily":"raleway"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","customId":"731c57"} /-->