<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0.5rem","bottom":"0.5rem"}}},"backgroundColor":"black","textColor":"white","layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group alignfull has-white-color has-black-background-color has-text-color has-background" style="padding-top:0.5rem;padding-bottom:0.5rem">
    <!-- wp:navigation {"overlayTextColor":"white","overlayBackgroundColor":"black","layout":{"type":"flex","justifyContent":"left"},"fontSize":"small"} /-->
    <!-- wp:social-links {"iconColor":"white","iconColorValue":"#ffffff","size":"has-small-icon-size","className":"is-style-logos-only"} -->
    <ul class="wp-block-social-links has-small-icon-size has-icon-color is-style-logos-only">
        <!-- wp:social-link {"url":"#","service":"facebook"} /-->
        <!-- wp:social-link {"url":"#","service":"twitter"} /-->
        <!-- wp:social-link {"url":"#","service":"instagram"} /-->
    </ul>
    <!-- /wp:social-links -->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"1rem","bottom":"1rem"}},"color":{"background":"#c82027"}},"textColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-white-color has-text-color has-background" style="background-color:#c82027;padding-top:1rem;padding-bottom:1rem">
    <!-- wp:site-title {"textAlign":"center","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700","fontSize":"4rem"}}} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0.5rem","bottom":"0.5rem"}}},"backgroundColor":"black","textColor":"white","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-group alignfull has-white-color has-black-background-color has-text-color has-background" style="padding-top:0.5rem;padding-bottom:0.5rem">
    <!-- wp:navigation {"overlayTextColor":"white","overlayBackgroundColor":"black","fontSize":"medium"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0">
    <!-- wp:columns {"align":"full","style":{"spacing":{"blockGap":{"top":"0px","left":"0px"}}}} -->
    <div class="wp-block-columns alignfull">
        <!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%">
            <!-- wp:query {"queryId":1,"query":{"perPage":1,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"only","inherit":false},"displayLayout":{"type":"list"},"layout":{"type":"list"}} -->
            <div class="wp-block-query">
                <!-- wp:post-template -->
                <!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"black","minHeight":550,"isDark":false,"align":"full"} -->
                <div class="wp-block-cover alignfull is-dark" style="min-height:550px">
                    <span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim"></span>
                    <img class="wp-block-cover__image-background wp-post-image" alt="" data-object-fit="cover"/>
                    <div class="wp-block-cover__inner-container">
                        <!-- wp:group {"style":{"spacing":{"padding":{"top":"1rem","right":"1rem","bottom":"1rem","left":"1rem"}}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group" style="padding-top:1rem;padding-right:1rem;padding-bottom:1rem;padding-left:1rem;">
                            <!-- wp:group {"layout":{"type":"flex","justifyContent":"flex-start"}} -->
                            <div class="wp-block-group">
                                <!-- wp:post-terms {"term":"category","style":{"typography":{"textTransform":"uppercase"},"spacing":{"padding":{"top":"0.25rem","right":"0.75rem","bottom":"0.25rem","left":"0.75rem"}}},"backgroundColor":"#008080","textColor":"white","fontSize":"small"} /-->
                            </div>
                            <!-- /wp:group -->
                        </div>
                        <!-- /wp:group -->
                        <!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"3rem"}},"textColor":"white"} /-->
                        <!-- wp:group {"layout":{"type":"flex"}} -->
                        <div class="wp-block-group">
                            <!-- wp:post-author {"showAvatar":false,"textColor":"white","fontSize":"small"} /-->
                            <!-- wp:post-date {"textColor":"white","fontSize":"small"} /-->
                        </div>
                        <!-- /wp:group -->
                    </div>
                </div>
                <!-- /wp:cover -->
                <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->
        </div>
        <!-- /wp:column -->
        <!-- wp:column {"width":"33.33%","style":{"spacing":{"blockGap":"0px"}}} -->
        <div class="wp-block-column" style="flex-basis:33.33%">
            <!-- wp:query {"queryId":2,"query":{"perPage":2,"pages":0,"offset":1,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"list"},"layout":{"type":"list"}} -->
            <div class="wp-block-query">
                <!-- wp:post-template -->
                <!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"black","minHeight":275,"isDark":false,"align":"full"} -->
                <div class="wp-block-cover alignfull is-dark" style="min-height:275px">
                    <span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim"></span>
                    <img class="wp-block-cover__image-background wp-post-image" alt="" data-object-fit="cover"/>
                    <div class="wp-block-cover__inner-container">
                         <!-- wp:group {"layout":{"type":"flex","justifyContent":"flex-start"}} -->
                         <div class="wp-block-group">
                              <!-- wp:post-terms {"term":"category","style":{"typography":{"textTransform":"uppercase"},"spacing":{"padding":{"top":"0.25rem","right":"0.75rem","bottom":"0.25rem","left":"0.75rem"}}},"backgroundColor":"#008080","textColor":"white","fontSize":"small"} /-->
                         </div>
                         <!-- /wp:group -->
                        <!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"1.5rem"}},"textColor":"white"} /-->
                    </div>
                </div>
                <!-- /wp:cover -->
                <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0.5rem","bottom":"0.5rem","left":"1rem","right":"1rem"},"blockGap":"0.5rem"}},"backgroundColor":"light-gray","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"flex-start"}} -->
    <div class="wp-block-group alignfull has-light-gray-background-color has-background" style="padding-top:0.5rem;padding-bottom:0.5rem;padding-left:1rem;padding-right:1rem">
        <!-- wp:heading {"level":6,"style":{"typography":{"textTransform":"uppercase"},"spacing":{"padding":{"top":"0.25rem","right":"0.5rem","bottom":"0.25rem","left":"0.5rem"}},"color":{"background":"#c82027"}},"textColor":"white"} -->
        <h6 class="wp-block-heading has-white-color has-text-color has-background" style="background-color:#c82027;padding-top:0.25rem;padding-right:0.5rem;padding-bottom:0.25rem;padding-left:0.5rem">Breaking News</h6>
        <!-- /wp:heading -->
        <!-- wp:query {"queryId":3,"query":{"perPage":4,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"flex","columns":4}} -->
        <div class="wp-block-query">
            <!-- wp:post-template -->
            <!-- wp:post-title {"isLink":true,"fontSize":"small"} /-->
            <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide" style="padding-top:2rem;padding-bottom:2rem">
        <!-- wp:columns -->
        <div class="wp-block-columns">
            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:heading {"style":{"typography":{"textTransform":"uppercase"}},"textColor":"vivid-red","fontSize":"medium"} -->
                <h2 class="wp-block-heading has-vivid-red-color has-text-color has-medium-font-size" style="text-transform:uppercase">Latest Articles</h2>
                <!-- /wp:heading -->
                <!-- wp:separator {"style":{"color":{"background":"#c82027"}},"className":"is-style-wide"} -->
                <hr class="wp-block-separator has-text-color has-background is-style-wide" style="background-color:#c82027"/>
                <!-- /wp:separator -->
                <!-- wp:query {"queryId":4,"query":{"perPage":4,"pages":0,"offset":3,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"list"}} -->
                <div class="wp-block-query">
                    <!-- wp:post-template -->
                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"width":"33%"} -->
                        <div class="wp-block-column" style="flex-basis:33%">
                            <!-- wp:post-featured-image {"isLink":true} /-->
                        </div>
                        <!-- /wp:column -->
                        <!-- wp:column {"width":"67%"} -->
                        <div class="wp-block-column" style="flex-basis:67%">
                            <!-- wp:post-title {"isLink":true,"fontSize":"small"} /-->
                            <!-- wp:post-excerpt {"moreText":"","showMoreOnNewLine":false,"excerptLength":15} /-->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->
                    <!-- /wp:post-template -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:column -->
            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:heading {"style":{"typography":{"textTransform":"uppercase"}},"textColor":"vivid-red","fontSize":"medium"} -->
                <h2 class="wp-block-heading has-vivid-red-color has-text-color has-medium-font-size" style="text-transform:uppercase">West Side Articles</h2>
                <!-- /wp:heading -->
                <!-- wp:separator {"style":{"color":{"background":"#c82027"}},"className":"is-style-wide"} -->
                <hr class="wp-block-separator has-text-color has-background is-style-wide" style="background-color:#c82027"/>
                <!-- /wp:separator -->
                <!-- wp:query {"queryId":5,"query":{"perPage":1,"pages":0,"offset":7,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"list"}} -->
                <div class="wp-block-query">
                    <!-- wp:post-template -->
                    <!-- wp:post-featured-image {"isLink":true,"height":"300px"} /-->
                    <!-- wp:post-title {"isLink":true,"fontSize":"large"} /-->
                    <!-- wp:post-excerpt /-->
                    <!-- /wp:post-template -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:column -->
            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:heading {"style":{"typography":{"textTransform":"uppercase"}},"textColor":"vivid-red","fontSize":"medium"} -->
                <h2 class="wp-block-heading has-vivid-red-color has-text-color has-medium-font-size" style="text-transform:uppercase">We Recommend</h2>
                <!-- /wp:heading -->
                <!-- wp:separator {"style":{"color":{"background":"#c82027"}},"className":"is-style-wide"} -->
                <hr class="wp-block-separator has-text-color has-background is-style-wide" style="background-color:#c82027"/>
                <!-- /wp:separator -->
                <!-- wp:query {"queryId":6,"query":{"perPage":4,"pages":0,"offset":8,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"list"}} -->
                <div class="wp-block-query">
                    <!-- wp:post-template -->
                    <!-- wp:columns -->
                    <div class="wp-block-columns">
                        <!-- wp:column {"width":"33%"} -->
                        <div class="wp-block-column" style="flex-basis:33%">
                            <!-- wp:post-featured-image {"isLink":true} /-->
                        </div>
                        <!-- /wp:column -->
                        <!-- wp:column {"width":"67%"} -->
                        <div class="wp-block-column" style="flex-basis:67%">
                            <!-- wp:post-title {"isLink":true,"fontSize":"small"} /-->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->
                    <!-- /wp:post-template -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"backgroundColor":"black","textColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-white-color has-black-background-color has-text-color has-background" style="padding-top:2rem;padding-bottom:2rem">
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Copyright © 2024 The Titan. All Rights Reserved.</p>
    <!-- /wp:paragraph -->
</div>
<!-- /wp:group --> 