<!-- wp:template-part {"slug":"header","area":"header","customId":"b65d0c"} /-->

<!-- wp:group {"customId":"a5668b","animation":"fadeIn","animation_delay":"0","animation_duration":"2","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"customId":"1727b2","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"cf0961","align":"full","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"customId":"234553","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"hero-featured","customId":"342663"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"a04c52","custom_css":"this_block{z-index:1;}","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"width_tablet":"740px","tablet_padding":{"top":"","left":"20px","right":"20px","bottom":""},"width_mobile":"100%","customId":"6f37ab","style":{"spacing":{"padding":{"top":"9px","bottom":"9px","left":"10px","right":"10px"},"margin":{"top":"-50px"},"blockGap":"10px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="margin-top:-50px;padding-top:9px;padding-right:10px;padding-bottom:9px;padding-left:10px"><!-- wp:group {"customId":"abc193","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"7156f6","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":4,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"d12c73","layout":{"type":"default"},"customPostsPerPage":4} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"fd8afa","style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"grid","columnCount":4,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"5621f9"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:columns {"customId":"a106e4","style":{"spacing":{"blockGap":{"top":"10px","left":"10px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"45%","width_mobile":"100%","customId":"afe18d"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"11","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"ff0d80","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"eefd73","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"00051c"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50.8%","width_desktop":"50.8%","width_tablet":"45%","width_mobile":"100%","customId":"59a1c7"} -->
<div class="wp-block-column" style="flex-basis:50.8%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"27","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"5542ec","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"1d4031","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"big-featured","customId":"097190"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"45%","width_mobile":"100%","customId":"51c17a","custom_css":"this_block{\nbox-sizing:border-box;\n}\n\n","style":{"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}},"border":{"radius":"0px","width":"1px"}},"backgroundColor":"light-gray","textColor":"","gradient":"","borderColor":"gray","layout":{"type":"constrained"}} -->
<div class="wp-block-column has-border-color has-gray-border-color has-light-gray-background-color has-background" style="border-width:1px;border-radius:0px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;flex-basis:25%"><!-- wp:group {"desktop_pos":{"top":"","left":"-25px","right":"","bottom":""},"customId":"7b09e2","style":{"typography":{"textTransform":"uppercase","lineHeight":"0"},"spacing":{"padding":{"left":"5px"},"margin":{"bottom":"20px"}}},"fontSize":"18","fontFamily":"oswald","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-oswald-font-family has-18-font-size" style="margin-bottom:20px;padding-left:5px;line-height:0;text-transform:uppercase"><!-- wp:heading {"level":4,"customId":"3e9279","style":{"typography":{"textTransform":"uppercase","lineHeight":"0.9"},"spacing":{"padding":{"left":"5px"},"margin":{"bottom":"20px"}},"border":{"left":{"color":"var:preset|color|primary","width":"15px"}}},"fontSize":"18","fontFamily":"oswald"} -->
<h4 class="wp-block-heading has-oswald-font-family has-18-font-size" style="border-left-color:var(--wp--preset--color--primary);border-left-width:15px;margin-bottom:20px;padding-left:5px;line-height:0.9;text-transform:uppercase">Newsroll</h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":5,"pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"0b4d07","layout":{"type":"default"},"customPostsPerPage":5} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"dcbda1","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"customId":"6fb58d","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"width_desktop":"100%","customId":"668cde","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"100%","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"customId":"9cc983","custom_css":"this_block{display:block;}","align":"full","style":{"typography":{"lineHeight":"1.2"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignfull" style="line-height:1.2"><!-- wp:post-date {"format":"M j, Y","customId":"8965c4","custom_css":"this_block{display:inline;float:left;}","style":{"spacing":{"margin":{"right":"10px"}},"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"15px","textTransform":"uppercase","letterSpacing":"0px"}},"fontFamily":"oswald"} /-->

<!-- wp:post-title {"textAlign":"left","isLink":true,"customId":"efeade","custom_css":"this_block{float:none;}\nthis_block :where(a) {\n    display: inline;\n}","align":"full","style":{"typography":{"fontStyle":"normal","fontWeight":"400","lineHeight":"1.4","letterSpacing":"-0.2px"}},"fontSize":"14","fontFamily":"raleway"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"4bc351"} -->
<div class="wp-block-columns"><!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"c6de48"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"7","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"7a8990","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"a68b8d","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"a85183"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"7fc661"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"15","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"952f58","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"7ae68a","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"96904c"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"98507e"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"17","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"413a54","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"9f715a","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"04f615"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"7f0205"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"8","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"a2d72e","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"5a549e","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"4923b3"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"7675bb"} -->
<div class="wp-block-columns"><!-- wp:column {"customId":"86a7a4"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"37","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"f71fd4","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"349e8c","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"big-featured","customId":"953f69"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"customId":"f681aa"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"24","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"26e0e8","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"54e832","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"big-featured","customId":"054423"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"51f45e"} -->
<div class="wp-block-columns"><!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"90cce7"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"4131c1","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"36d544","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"8ad20c"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"b2b48d"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"20","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"0cecba","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"91fd28","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"015e0f"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"0d5a50"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"2","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"b68204","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"b65821","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"c37461"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"94fa33"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"21","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"a18883","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"61dfed","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"ed29fb"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"79ebd9"} -->
<div class="wp-block-columns"><!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"76eb02"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"13","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"2c0eb6","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"1164b6","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"338c5e"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"5c00d4"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"6","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"30c373","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"696e0e","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"1c3748"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"7f5a3c"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"41","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"68e194","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"d32017","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"3f7262"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"48%","width_mobile":"100%","customId":"f853a9"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"15","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"63155c","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"9cf085","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"8191a8"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"75efdd","style":{"spacing":{"blockGap":{"top":"10px","left":"10px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"50%","width_desktop":"50%","width_tablet":"48%","width_mobile":"100%","customId":"275892"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"22","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"47b371","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"6f37af","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"big-featured","customId":"f15afd"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"48%","width_mobile":"100%","customId":"8f62a3"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"32","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"ba4b81","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"c95d3c","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"b6dbe7"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"48%","width_mobile":"100%","customId":"0eaa79","style":{"spacing":{"blockGap":"30px","padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-column" style="padding-right:0;padding-left:0;flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"39","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"482464","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"643e83","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"23846b"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"40d768","style":{"spacing":{"blockGap":{"top":"10px","left":"10px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"48%","width_mobile":"100%","customId":"d1ac58","style":{"spacing":{"blockGap":"30px","padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-column" style="padding-right:0;padding-left:0;flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"7","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"0c186c","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"c793a6","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"default","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"cda35b"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"48%","width_mobile":"100%","customId":"28e025"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"11","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"afc310","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"9de65f","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"dd728f"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%","width_desktop":"50%","width_tablet":"48%","width_mobile":"100%","customId":"74dd88"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"35","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"25abce","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"60c2ee","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"big-featured","customId":"441609"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"e5920b","style":{"spacing":{"blockGap":{"top":"10px","left":"10px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"48%","width_mobile":"100%","customId":"b66f98","style":{"spacing":{"blockGap":"30px","padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-column" style="padding-right:0;padding-left:0;flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"3","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"6cecf5","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"5caa06","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"8f7995"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%","width_desktop":"50%","width_tablet":"48%","width_mobile":"100%","customId":"847012"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"34","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"3e8db5","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"73008d","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"big-featured","customId":"6390b5"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"48%","width_mobile":"100%","customId":"48afd0"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"42","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"fad106","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"39fdbf","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"8bef2b"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"customId":"dd4a53","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":8,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"34e3f5","layout":{"type":"default"},"customPostsPerPage":8} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"8c1ea5","style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"grid","columnCount":4,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"medium-featured","customId":"3e2621"} /-->
<!-- /wp:post-template -->

<!-- wp:myplugin/query-loop-load-more {"customId":"260153","custom_css":"this_block{text-align:center;}","backgroundColor":"primary","textColor":"white","fontFamily":"oswald","fontSize":"22","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase"},"spacing":{"padding":{"top":"10px","bottom":"10px","left":"20px","right":"20px"}}}} -->
<button type="button" class="wp-block-myplugin-query-loop-load-more query-loop-load-more-button has-white-color has-primary-background-color has-text-color has-background has-link-color has-oswald-font-family has-22-font-size" style="padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px;font-style:normal;font-weight:400;text-transform:uppercase">Load More</button>
<!-- /wp:myplugin/query-loop-load-more --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","width_desktop":"100%","customId":"41a3a0"} /-->