<!-- wp:template-part {"slug":"header","area":"header","customId":"cool-header","desktop_z_index":"10"} /-->

<!-- wp:group {"customId":"hero-section","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"gradient-primary","gradient":"gradient-primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background has-gradient-primary-background-color has-background" style="margin-top:0;margin-bottom:0"><!-- wp:cover {"overlayColor":"primary","isUserOverlayColor":true,"customId":"hero-cover","animation":"fadeIn","animation_delay":"0","animation_duration":"1.2","style":{"spacing":{"padding":{"top":"120px","bottom":"80px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="padding-top:120px;padding-bottom:80px"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-60 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"customId":"hero-content","style":{"spacing":{"blockGap":"40px"}},"layout":{"type":"constrained","contentSize":"800px"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1,"customId":"main-heading","animation":"slideInDown","animation_delay":"0.2","animation_duration":"0.8","style":{"typography":{"fontStyle":"normal","fontWeight":"900","lineHeight":"1.1","letterSpacing":"-1px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"64","fontFamily":"oswald"} -->
<h1 class="wp-block-heading has-text-align-center has-white-color has-text-color has-link-color has-oswald-font-family has-64-font-size" style="font-style:normal;font-weight:900;line-height:1.1;letter-spacing:-1px">The Latest in Gaming & Culture</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","customId":"hero-subtitle","animation":"slideInUp","animation_delay":"0.4","animation_duration":"0.8","style":{"typography":{"fontStyle":"normal","fontWeight":"400","lineHeight":"1.6","letterSpacing":"0.5px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"20","fontFamily":"raleway"} -->
<p class="has-text-align-center has-white-color has-text-color has-link-color has-raleway-font-family has-20-font-size" style="font-style:normal;font-weight:400;line-height:1.6;letter-spacing:0.5px">Discover the most exciting stories from the world of gaming, technology, and cultural events. Stay ahead with our curated content.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"},"customId":"hero-buttons","animation":"zoomIn","animation_delay":"0.6","animation_duration":"0.8"} -->
<div class="wp-block-buttons"><!-- wp:button {"customId":"explore-btn","style":{"spacing":{"padding":{"top":"15px","bottom":"15px","left":"30px","right":"30px"}},"border":{"radius":"50px","width":"2px"},"typography":{"fontWeight":"700","textTransform":"uppercase","letterSpacing":"1px"}},"backgroundColor":"white","textColor":"primary","fontSize":"16","fontFamily":"montserrat"} -->
<div class="wp-block-button has-custom-font-size has-montserrat-font-family" style="font-size:16px"><a class="wp-block-button__link has-primary-color has-white-background-color has-text-color has-background has-link-color wp-element-button" style="border-radius:50px;border-width:2px;padding-top:15px;padding-right:30px;padding-bottom:15px;padding-left:30px;font-weight:700;text-transform:uppercase;letter-spacing:1px">Explore Now</a></div>
<!-- /wp:button -->

<!-- wp:button {"customId":"newsletter-btn","style":{"spacing":{"padding":{"top":"15px","bottom":"15px","left":"30px","right":"30px"}},"border":{"radius":"50px","width":"2px"},"typography":{"fontWeight":"700","textTransform":"uppercase","letterSpacing":"1px"}},"backgroundColor":"transparent","textColor":"white","fontSize":"16","fontFamily":"montserrat"} -->
<div class="wp-block-button has-custom-font-size has-montserrat-font-family" style="font-size:16px"><a class="wp-block-button__link has-white-color has-text-color has-background has-link-color wp-element-button" style="border-radius:50px;border-width:2px;padding-top:15px;padding-right:30px;padding-bottom:15px;padding-left:30px;font-weight:700;text-transform:uppercase;letter-spacing:1px">Newsletter</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"featured-grid","style":{"spacing":{"margin":{"top":"-50px","bottom":"60px"},"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:-50px;margin-bottom:60px;padding-top:0;padding-bottom:0"><!-- wp:columns {"tablet_flexWrap":"wrap","customId":"featured-columns","style":{"spacing":{"blockGap":{"top":"30px","left":"30px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width_tablet":"45%","customId":"featured-left","animation":"slideInLeft","animation_delay":"0.2","animation_duration":"0.8","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"width_desktop":"100%","customId":"featured-main","align":"full","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"customId":"featured-main-template","layout":{"type":"default","columnCount":3}} -->
<!-- wp:template-part {"slug":"hero-featured","area":"uncategorized","customId":"featured-main-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"order_tablet":"-1","width_tablet":"100%","customId":"featured-center","animation":"slideInUp","animation_delay":"0.4","animation_duration":"0.8","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"width_desktop":"100%","customId":"featured-secondary","align":"full","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"customId":"featured-secondary-template","layout":{"type":"default","columnCount":3}} -->
<!-- wp:template-part {"slug":"hero-featured","area":"uncategorized","customId":"featured-secondary-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width_tablet":"45%","customId":"featured-right","animation":"slideInRight","animation_delay":"0.6","animation_duration":"0.8","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"2","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"width_desktop":"100%","customId":"featured-tertiary","align":"full","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"customId":"featured-tertiary-template","layout":{"type":"default","columnCount":1}} -->
<!-- wp:template-part {"slug":"hero-featured","area":"uncategorized","customId":"featured-tertiary-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"content-sections","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"width_tablet":"1200px","tablet_padding":{"top":"","left":"20px","right":"20px","bottom":""},"width_mobile":"100%","customId":"main-content","animation":"fadeInUp","animation_delay":"0.2","animation_duration":"1","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","left":"40px","right":"40px"},"blockGap":"40px"},"border":{"radius":"15px"},"shadow":{"color":"rgba(0,0,0,0.1)","blur":"20px","spread":"0","x":"0","y":"10px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="border-radius:15px;padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:0 10px 20px rgba(0,0,0,0.1)"><!-- wp:columns {"customId":"main-columns","style":{"spacing":{"blockGap":{"top":"40px","left":"40px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"45%","width_mobile":"100%","customId":"newsroll-column","custom_css":"this_block{\nbox-sizing:border-box;\n}","style":{"spacing":{"padding":{"top":"30px","bottom":"30px","left":"30px","right":"30px"}},"border":{"radius":"12px","width":"2px"},"shadow":{"color":"rgba(0,0,0,0.05)","blur":"10px","spread":"0","x":"0","y":"5px"}},"backgroundColor":"light-gray","borderColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-column has-border-color has-primary-border-color has-light-gray-background-color has-background" style="border-width:2px;border-radius:12px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;flex-basis:25%;box-shadow:0 5px 10px rgba(0,0,0,0.05)"><!-- wp:group {"desktop_pos":{"top":"","left":"-30px","right":"","bottom":""},"customId":"newsroll-header","style":{"typography":{"textTransform":"uppercase","lineHeight":"0"},"spacing":{"padding":{"left":"10px"},"margin":{"bottom":"30px"}}},"fontSize":"20","fontFamily":"oswald","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-oswald-font-family has-20-font-size" style="margin-bottom:30px;padding-left:10px;line-height:0;text-transform:uppercase"><!-- wp:heading {"level":4,"customId":"newsroll-title","style":{"typography":{"lineHeight":"0.9","fontStyle":"normal","fontWeight":"800"},"spacing":{"padding":{"left":"10px"},"margin":{"bottom":"20px"}},"border":{"left":{"color":"#4400ff","width":"20px"},"top":[],"right":[],"bottom":[]}},"fontSize":"20","fontFamily":"oswald"} -->
<h4 class="wp-block-heading has-oswald-font-family has-20-font-size" style="border-left-color:#4400ff;border-left-width:20px;margin-bottom:20px;padding-left:10px;font-style:normal;font-weight:800;line-height:0.9">Latest News</h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":8,"pages":0,"offset":"3","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"newsroll-query","layout":{"type":"default"},"customPostsPerPage":8} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"newsroll-template","style":{"spacing":{"blockGap":"15px"}},"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"customId":"newsroll-item","style":{"spacing":{"blockGap":"0px","padding":{"top":"15px","bottom":"15px","left":"15px","right":"15px"}},"border":{"radius":"8px"},"shadow":{"color":"rgba(0,0,0,0.03)","blur":"5px","spread":"0","x":"0","y":"2px"}},"backgroundColor":"white","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-white-background-color has-background" style="border-radius:8px;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;box-shadow:0 2px 5px rgba(0,0,0,0.03)"><!-- wp:group {"width_desktop":"100%","customId":"newsroll-content","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"100%","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"customId":"newsroll-text","custom_css":"this_block{display:block;}","align":"full","style":{"typography":{"lineHeight":"1.3"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignfull" style="line-height:1.3"><!-- wp:post-date {"format":"M j","customId":"newsroll-date","custom_css":"this_block{display:inline;float:left;}","style":{"spacing":{"margin":{"right":"12px"}},"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"14px","lineHeight":"1"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontFamily":"montserrat"} /-->

<!-- wp:post-title {"textAlign":"left","isLink":true,"customId":"newsroll-title-link","custom_css":"this_block{float:none;}\nthis_block :where(a) {\n    display: inline;\n}","align":"full","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.2","letterSpacing":"-0.1px","fontSize":"14px","textTransform":"none"}},"fontFamily":"dm-sans"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"newsroll-author","align":"full","style":{"spacing":{"blockGap":"5px"}},"fontSize":"12","fontFamily":"oswald","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group alignfull has-oswald-font-family has-12-font-size"><!-- wp:post-author-name {"isLink":true,"customId":"newsroll-author-link","style":{"elements":{"link":{"color":{"text":"var:preset|color|gray"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"12"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%","width_desktop":"50%","order_tablet":"-1","width_tablet":"100%","width_mobile":"100%","customId":"main-content-column"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"main-featured","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"main-featured-template"} -->
<!-- wp:template-part {"slug":"big-featured","customId":"main-featured-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":2,"pages":0,"offset":"5","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"secondary-featured","layout":{"type":"default"},"customPostsPerPage":2} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"secondary-featured-template","style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:template-part {"slug":"medium-featured","area":"uncategorized","customId":"secondary-featured-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","width_tablet":"45%","width_mobile":"100%","customId":"sidebar-column"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"6","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"sidebar-featured","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"sidebar-featured-template"} -->
<!-- wp:template-part {"slug":"tall-featured","customId":"sidebar-featured-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"customId":"bottom-featured","style":{"spacing":{"blockGap":{"top":"30px","left":"30px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"customId":"bottom-left"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"7","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"bottom-left-query","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"bottom-left-template"} -->
<!-- wp:template-part {"slug":"big-featured","customId":"bottom-left-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"customId":"bottom-right"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"8","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"bottom-right-query","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"bottom-right-template"} -->
<!-- wp:template-part {"slug":"big-featured","customId":"bottom-right-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"customId":"latest-posts","style":{"spacing":{"margin":{"bottom":"40px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-bottom:40px"><!-- wp:query {"queryId":0,"query":{"perPage":4,"pages":0,"offset":"9","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"width_desktop":"100%","customId":"latest-posts-query","layout":{"type":"default"},"customPostsPerPage":4} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"latest-posts-template","style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":4,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"latest-posts-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"category-sections","style":{"spacing":{"margin":{"top":"60px","bottom":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:60px;margin-bottom:60px"><!-- wp:columns {"tablet_flexWrap":"wrap","customId":"category-columns","style":{"spacing":{"blockGap":{"top":"40px","left":"40px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width_tablet":"45%","customId":"gaming-column","animation":"slideInLeft","animation_delay":"0.2","animation_duration":"0.8","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-column"><!-- wp:cover {"overlayColor":"primary","isUserOverlayColor":true,"customId":"gaming-cover","style":{"spacing":{"padding":{"top":"60px","bottom":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="padding-top:60px;padding-bottom:60px"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-80 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"customId":"gaming-content","style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"gaming-header","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"bottom"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"gaming-title-group","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"bottom"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"customId":"gaming-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontStyle":"normal","fontWeight":"800","letterSpacing":"1px"}},"textColor":"white","fontSize":"32","fontFamily":"oswald"} -->
<h3 class="wp-block-heading has-white-color has-text-color has-link-color has-oswald-font-family has-32-font-size" style="font-style:normal;font-weight:800;letter-spacing:1px">GAMING</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"customId":"gaming-subtitle","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"16","fontFamily":"raleway"} -->
<p class="has-white-color has-text-color has-link-color has-raleway-font-family has-16-font-size">PC, Xbox, PlayStation, Nintendo, Mobile Gaming</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"level":4,"customId":"gaming-more","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"24","fontFamily":"montserrat"} -->
<h4 class="wp-block-heading has-white-color has-text-color has-link-color has-montserrat-font-family has-24-font-size">More Gaming →</h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:columns {"customId":"gaming-posts","style":{"spacing":{"blockGap":{"top":"20px","left":"20px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"customId":"gaming-post-1"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"10","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"gaming-query-1","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"gaming-template-1"} -->
<!-- wp:template-part {"slug":"big-featured","customId":"gaming-part-1"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"customId":"gaming-post-2"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"11","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"gaming-query-2","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"gaming-template-2"} -->
<!-- wp:template-part {"slug":"big-featured","customId":"gaming-part-2"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"culture-section","style":{"spacing":{"margin":{"top":"60px","bottom":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:60px;margin-bottom:60px"><!-- wp:group {"width_tablet":"1200px","tablet_padding":{"top":"","left":"20px","right":"20px","bottom":""},"width_mobile":"100%","customId":"culture-content","animation":"fadeInUp","animation_delay":"0.2","animation_duration":"1","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","left":"40px","right":"40px"},"blockGap":"40px"},"border":{"radius":"15px"},"shadow":{"color":"rgba(0,0,0,0.1)","blur":"20px","spread":"0","x":"0","y":"10px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="border-radius:15px;padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:0 10px 20px rgba(0,0,0,0.1)"><!-- wp:group {"customId":"culture-header","style":{"spacing":{"blockGap":"0","margin":{"bottom":"40px"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between","verticalAlignment":"bottom"}} -->
<div class="wp-block-group" style="margin-bottom:40px"><!-- wp:group {"customId":"culture-title-group","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"bottom"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"width_mobile":"100%","customId":"culture-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"800","letterSpacing":"1px"}},"textColor":"primary","fontSize":"32","fontFamily":"oswald"} -->
<h3 class="wp-block-heading has-primary-color has-text-color has-link-color has-oswald-font-family has-32-font-size" style="font-style:normal;font-weight:800;letter-spacing:1px">CULTURE</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"width_mobile":"100%","customId":"culture-subtitle","style":{"elements":{"link":{"color":{"text":"var:preset|color|gray"}}}},"textColor":"gray","fontSize":"16","fontFamily":"raleway"} -->
<p class="has-gray-color has-text-color has-link-color has-raleway-font-family has-16-font-size">Events, Art, Museums, Exhibitions, Community</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"level":4,"customId":"culture-more","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"24","fontFamily":"montserrat"} -->
<h4 class="wp-block-heading has-primary-color has-text-color has-link-color has-montserrat-font-family has-24-font-size">More Culture →</h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:columns {"customId":"culture-posts","style":{"spacing":{"blockGap":{"top":"30px","left":"30px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"customId":"culture-post-1"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"12","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"culture-query-1","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"culture-template-1"} -->
<!-- wp:template-part {"slug":"big-featured","customId":"culture-part-1"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"customId":"culture-post-2"} -->
<div class="wp-block-column"><!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":"13","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"culture-query-2","layout":{"type":"default"},"customPostsPerPage":1} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"culture-template-2"} -->
<!-- wp:template-part {"slug":"big-featured","customId":"culture-part-2"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"customId":"culture-grid","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":4,"pages":0,"offset":"14","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"culture-grid-query","layout":{"type":"default"},"customPostsPerPage":4} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"culture-grid-template","style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":4,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"culture-grid-part"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"opinion-section","style":{"spacing":{"margin":{"top":"60px","bottom":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:60px;margin-bottom:60px"><!-- wp:group {"width_tablet":"1200px","tablet_padding":{"top":"","left":"20px","right":"20px","bottom":""},"width_mobile":"100%","customId":"opinion-content","animation":"fadeInUp","animation_delay":"0.2","animation_duration":"1","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","left":"40px","right":"40px"},"blockGap":"40px"},"border":{"radius":"15px"},"shadow":{"color":"rgba(0,0,0,0.1)","blur":"20px","spread":"0","x":"0","y":"10px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="border-radius:15px;padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;box-shadow:0 10px 20px rgba(0,0,0,0.1)"><!-- wp:group {"customId":"opinion-header","style":{"spacing":{"blockGap":"0","margin":{"bottom":"40px"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between","verticalAlignment":"bottom"}} -->
<div class="wp-block-group" style="margin-bottom:40px"><!-- wp:group {"customId":"opinion-title-group","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"bottom"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"width_mobile":"100%","customId":"opinion-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"800","letterSpacing":"1px"}},"textColor":"primary","fontSize":"32","fontFamily":"oswald"} -->
<h3 class="wp-block-heading has-primary-color has-text-color has-link-color has-oswald-font-family has-32-font-size" style="font-style:normal;font-weight:800;letter-spacing:1px">OPINION</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"width_mobile":"100%","customId":"opinion-subtitle","style":{"elements":{"link":{"color":{"text":"var:preset|color|gray"}}}},"textColor":"gray","fontSize":"16","fontFamily":"raleway"} -->
<p class="has-gray-color has-text-color has-link-color has-raleway-font-family has-16-font-size">Editorials, Reviews, Analysis, Commentary</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"level":4,"customId":"opinion-more","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"24","fontFamily":"montserrat"} -->
<h4 class="wp-block-heading has-primary-color has-text-color has-link-color has-montserrat-font-family has-24-font-size">More Opinions →</h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"opinion-grid","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":8,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"opinion-query","layout":{"type":"default"},"customPostsPerPage":8} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"opinion-template","style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":4,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"opinion-part"} /-->
<!-- /wp:post-template -->

<!-- wp:myplugin/query-loop-load-more {"width_desktop":"100%","customId":"load-more-btn","custom_css":"this_block{text-align:center;margin-top:40px;}","borderColor":"primary","textColor":"primary","fontFamily":"montserrat","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"padding":{"top":"15px","bottom":"15px","left":"40px","right":"40px"}},"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700","letterSpacing":"1px"},"border":{"radius":"50px","style":"solid","width":"2px"}},"backgroundColor":"transparent"} -->
<button type="button" class="wp-block-myplugin-query-loop-load-more query-loop-load-more-button has-border-color has-primary-border-color has-primary-color has-text-color has-link-color has-montserrat-font-family" style="border-style:solid;border-width:2px;border-radius:50px;padding-top:15px;padding-right:40px;padding-bottom:15px;padding-left:40px;font-style:normal;font-weight:700;text-transform:uppercase;letter-spacing:1px">Load More Articles</button>
<!-- /wp:myplugin/query-loop-load-more --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","width_desktop":"100%","customId":"cool-footer"} /--> 