<!-- wp:template-part {"slug":"header","area":"header","customId":"f612fb"} /-->

<!-- wp:group {"tablet_padding":{"top":"20px","left":"20px","right":"20px","bottom":"20px"},"customId":"1c773e","style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}}} -->
<div class="wp-block-group" style="margin-top:50px;margin-bottom:50px"><!-- wp:group {"customId":"67bf9e","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"786db8","custom_css":"this_block{z-index:1;}","style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"20px","bottom":"20px"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:query {"queryId":0,"query":{"perPage":9,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"customId":"9fb88a","layout":{"type":"default"},"customPostsPerPage":"8"} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"5a549e","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":4,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"blog-roll","customId":"4923b3"} /-->
<!-- /wp:post-template -->

<!-- wp:myplugin/query-loop-load-more {"width_desktop":"100%","customId":"34c2cc","custom_css":"this_block{text-align:center;}","backgroundColor":"primary","textColor":"white","fontFamily":"montserrat","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"10px","bottom":"10px"}},"typography":{"textTransform":"uppercase"}}} -->
<button type="button" class="wp-block-myplugin-query-loop-load-more query-loop-load-more-button has-white-color has-primary-background-color has-text-color has-background has-link-color has-montserrat-font-family" style="padding-top:10px;padding-bottom:10px;text-transform:uppercase">Load More</button>
<!-- /wp:myplugin/query-loop-load-more --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","customId":"9debf5"} /-->