<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":4}} -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#586173","isUserOverlayColor":false,"minHeight":150,"minHeightUnit":"px","contentPosition":"top left","style":{"spacing":{"blockGap":"3px"}},"layout":{"type":"constrained"},"linkToPost":true} -->
<div class="wp-block-cover has-custom-content-position is-position-top-left" style="min-height:150px" data-link-to-post="true"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#586173"></span><div class="wp-block-cover__inner-container"><!-- wp:post-terms {"term":"category","style":{"spacing":{"padding":{"top":"4px","bottom":"4px","left":"11px","right":"11px"}},"typography":{"lineHeight":"1.1","textTransform":"uppercase"},"elements":{"link":{":hover":{"color":{"text":"var:preset|color|white"}},"color":{"text":"var:preset|color|white"}}},"border":{"radius":"5px"}},"backgroundColor":"primary","fontSize":"14","fontFamily":"oswald"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:post-title {"textAlign":"left","isLink":true,"style":{"typography":{"textTransform":"uppercase"},"spacing":{"margin":{"top":"10px","bottom":"10px"}}},"fontSize":"24","fontFamily":"oswald"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-date {"textAlign":"left","fontSize":"14"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"fontSize":"14","fontFamily":"oswald","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group has-oswald-font-family has-14-font-size"><!-- wp:paragraph -->
<p>by</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"excerptLength":18,"style":{"spacing":{"margin":{"top":"10px","bottom":"10px"}}}} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->