<!-- wp:template-part {"slug":"header","area":"header","customId":"6e73ef"} /-->

<!-- wp:buttons {"customId":"90a093"} -->
<div class="wp-block-buttons"><!-- wp:button {"customId":"20bc4e","className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button">test buttonnnn</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:group {"tablet_margin":{"top":"","left":"10px","right":"10px","bottom":""},"customId":"2a926e","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"0fd23e","style":{"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"},"margin":{"top":"30px","bottom":"30px"},"blockGap":"30px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="margin-top:30px;margin-bottom:30px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"customId":"a77b6e","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":60,"isUserOverlayColor":true,"minHeight":500,"minHeightUnit":"px","gradient":"custom-title-background","contentPosition":"center center","customId":"e8f8d8","style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="min-height:500px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-60 has-background-dim has-background-gradient has-custom-title-background-gradient-background"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","customId":"85cbe5","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"5b4832","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"customId":"4630ff","style":{"spacing":{"blockGap":{"left":"30px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"top","width":"75%","width_desktop":"75%","customId":"cb72d6"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:75%"><!-- wp:group {"desktop_flexWrap":"nowrap","customId":"4835c1","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:group {"width_desktop":"10%","desktop_pos":{"top":"120px","left":"","right":"","bottom":""},"order_mobile":"1","width_mobile":"100%","customId":"8ccf49","style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"0","bottom":"0","right":"30px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:30px;padding-bottom:0"><!-- wp:social-links {"iconColor":"white","iconColorValue":"#FFFFFF","iconBackgroundColor":"primary","iconBackgroundColorValue":"#e5192c","size":"has-normal-icon-size","desktop_flexWrap":"wrap","customId":"bfe419","custom_css":"this_block li{border-radius:0; }","align":"center","className":"is-style-default","style":{"spacing":{"padding":{"top":"7px","bottom":"7px"},"blockGap":{"top":"1px","left":"10px"}}}} -->
<ul class="wp-block-social-links aligncenter has-normal-icon-size has-icon-color has-icon-background-color is-style-default" style="padding-top:7px;padding-bottom:7px"><!-- wp:social-link {"url":"asd","service":"facebook","label":"dsf","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"44aad9"} /-->

<!-- wp:social-link {"url":"asd","service":"telegram","label":"fds","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"ba61d5"} /-->

<!-- wp:social-link {"url":"asd","service":"google","label":"fdsa","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"66b10a"} /-->

<!-- wp:social-link {"url":"asd","service":"twitter","label":"fds","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"43cbd7"} /-->

<!-- wp:social-link {"url":"asd","service":"pinterest","label":"adsdas","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"5e7740"} /-->

<!-- wp:social-link {"url":"das","service":"youtube","label":"adsdas","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"f633de"} /-->

<!-- wp:social-link {"url":"asd","service":"instagram","label":"adsdas","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"f18b44"} /-->

<!-- wp:social-link {"url":"asdasd","service":"feed","label":"adsdas","font_size_desktop":"20px","desktop_padding":{"top":"8px","left":"8px","right":"8px","bottom":"8px"},"customId":"fc4407"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group -->

<!-- wp:group {"width_tablet":"85%","customId":"43caab","layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"f4056b","style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"blockGap":"5px"}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"6565dd","style":{"elements":{"link":{"color":{"text":"#9d9d9d"}}},"color":{"text":"#9d9d9d"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group has-text-color has-link-color" style="color:#9d9d9d"><!-- wp:post-terms {"term":"category","customId":"fc08a7","style":{"border":{"radius":"100px"},"typography":{"lineHeight":"1.1","textTransform":"capitalize"},"elements":{"link":{"color":{"text":"#959595"}}},"color":{"text":"#959595"}},"fontSize":"18"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"textAlign":"left","level":1,"customId":"d7af5e","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"600"}},"fontSize":"48","fontFamily":"oswald"} /-->

<!-- wp:group {"customId":"c85037","style":{"elements":{"link":{"color":{"text":"#9d9d9d"}}},"color":{"text":"#9d9d9d"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
<div class="wp-block-group has-text-color has-link-color" style="color:#9d9d9d"><!-- wp:image {"id":841,"width":"15px","aspectRatio":"2/3","scale":"contain","sizeSlug":"full","linkDestination":"none","customId":"710b79"} -->
<figure class="wp-block-image size-full is-resized"><img src="https://stepfoxthemes.com/buzzed-2/wp-content/uploads/sites/46/2025/02/image-1.png" alt="" class="wp-image-841" style="aspect-ratio:2/3;object-fit:contain;width:15px"/></figure>
<!-- /wp:image -->

<!-- wp:stepfox/metafield-block {"style":{"elements":{"link":""},"border":{"radius":"","style":"","width":""},"spacing":{"blockGap":"","margin":{"top":""},"padding":{"top":""}},"typography":{"lineHeight":"1.5","textTransform":"uppercase","fontSize":"12px"}},"element_type":"div","select_a_post":"10","meta_field":"month","customId":"642c3f"} /-->

<!-- wp:image {"id":842,"width":"11px","aspectRatio":"2/3","scale":"contain","sizeSlug":"full","linkDestination":"none","customId":"13bafd"} -->
<figure class="wp-block-image size-full is-resized"><img src="https://stepfoxthemes.com/buzzed-2/wp-content/uploads/sites/46/2025/02/image-2.png" alt="" class="wp-image-842" style="aspect-ratio:2/3;object-fit:contain;width:11px"/></figure>
<!-- /wp:image -->

<!-- wp:post-date {"textAlign":"left","customId":"7a5c90","style":{"typography":{"lineHeight":"1.5"}},"fontSize":"14"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"f178d4","style":{"spacing":{"blockGap":"5px"}},"fontSize":"16","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group has-16-font-size"><!-- wp:paragraph {"align":"left","customId":"f39e99"} -->
<p class="has-text-align-left">by</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"customId":"18f864","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"customId":"112d33","fontSize":"18"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"64dab4","style":{"spacing":{"margin":{"top":"20px"},"blockGap":"10px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:20px"><!-- wp:group {"customId":"b07a71","custom_css":"this_block span{display:none;}\nthis_block \u003e * \u003e * {border:1px solid #101010;margin-right:2px;padding:0px 6px;}","style":{"spacing":{"blockGap":"1px"}},"fontFamily":"oswald","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-oswald-font-family"><!-- wp:paragraph {"desktop_padding":{"top":"0px","left":"5px","right":"5px","bottom":"0px"},"customId":"8caac0","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontStyle":"normal","fontWeight":"600"},"color":{"background":"#535353"}},"textColor":"white","fontSize":"14"} -->
<p class="has-white-color has-text-color has-background has-link-color has-14-font-size" style="background-color:#535353;font-style:normal;font-weight:600">TAGS</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"post_tag","prefix":" ","customId":"8cb5ec","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|dark"},":hover":{"color":{"text":"var:preset|color|primary"}}}}},"fontSize":"14","fontFamily":"oswald"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"435d91","custom_css":"this_block span{display:none;}\nthis_block \u003e * \u003e * + *{border-left:1px solid #FFF;}","style":{"spacing":{"blockGap":"1px"}},"fontFamily":"oswald","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-oswald-font-family"><!-- wp:paragraph {"desktop_padding":{"top":"0px","left":"5px","right":"5px","bottom":"0px"},"customId":"77b3ac","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"uppercase"},"color":{"background":"#535353"}},"textColor":"white","fontSize":"14"} -->
<p class="has-white-color has-text-color has-background has-link-color has-14-font-size" style="background-color:#535353;font-style:normal;font-weight:600;text-transform:uppercase">Categories </p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category","prefix":" ","customId":"9f76f7","custom_css":"this_block a{padding:2px 5px;}","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"primary","textColor":"white","fontSize":"14","fontFamily":"oswald"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"b7b006","style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase"},"spacing":{"blockGap":"1px","margin":{"top":"20px"}}},"fontFamily":"oswald","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-oswald-font-family" style="margin-top:20px;font-style:normal;font-weight:400;text-transform:uppercase"><!-- wp:paragraph {"customId":"8cb97d","style":{"color":{"background":"#535353"},"spacing":{"padding":{"top":"2px","bottom":"2px","left":"8px","right":"8px"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"14"} -->
<p class="has-white-color has-text-color has-background has-link-color has-14-font-size" style="background-color:#535353;padding-top:2px;padding-right:8px;padding-bottom:2px;padding-left:8px">SHARE THIS ARTICLE</p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"showLabels":true,"customId":"ccabf9","custom_css":"this_block li  {border-radius:0; padding:4px 8px;}\nthis_block a {justify-content: center;padding:0;}","className":"is-style-default","style":{"spacing":{"blockGap":{"top":"1px"}}}} -->
<ul class="wp-block-social-links has-visible-labels is-style-default"><!-- wp:social-link {"url":"asd","service":"facebook","label":"","font_size_desktop":"18px","desktop_padding":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"desktop_border":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"customId":"06d341","desktop_justify":"flex-start","shareThisPost":true} /-->

<!-- wp:social-link {"url":"asd","service":"twitter","label":"","font_size_desktop":"18px","desktop_padding":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"desktop_border":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"customId":"81f1d3","shareThisPost":true} /-->

<!-- wp:social-link {"url":"asd","service":"telegram","label":"","font_size_desktop":"18px","desktop_padding":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"desktop_border":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"customId":"94ced4","shareThisPost":true} /-->

<!-- wp:social-link {"url":"asd","service":"pinterest","label":"","font_size_desktop":"18px","desktop_padding":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"desktop_border":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"customId":"23195e","shareThisPost":true} /-->

<!-- wp:social-link {"url":"erd","service":"reddit","font_size_desktop":"18px","desktop_padding":{"top":"0px","left":"0px","right":"0px","bottom":"0px"},"customId":"anchor_social"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group -->

<!-- wp:columns {"isStackedOnMobile":false,"desktop_display":"flex","desktop_flexWrap":"nowrap","customId":"e9f43f","style":{"border":{"radius":"0px","top":{"color":"var:preset|color|gray","style":"solid","width":"1px"},"right":{"style":"none","width":"0px"},"bottom":{"color":"var:preset|color|gray","style":"solid","width":"1px"},"left":{"style":"none","width":"0px"}},"spacing":{"blockGap":{"left":"0px"},"padding":{"top":"10px","bottom":"10px"}}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile" style="border-radius:0px;border-top-color:var(--wp--preset--color--gray);border-top-style:solid;border-top-width:1px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--gray);border-bottom-style:solid;border-bottom-width:1px;border-left-style:none;border-left-width:0px;padding-top:10px;padding-bottom:10px"><!-- wp:column {"width":"30%","width_desktop":"30%","customId":"8e081c","desktop_flex_grow":"1","style":{"border":{"radius":"0px","right":{"color":"var:preset|color|gray","style":"solid","width":"1px"},"top":[],"bottom":[],"left":[]},"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}}} -->
<div class="wp-block-column" style="border-radius:0px;border-right-color:var(--wp--preset--color--gray);border-right-style:solid;border-right-width:1px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;flex-basis:30%"><!-- wp:group {"customId":"227c71","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","label":"Previous Article","linkLabel":true,"customId":"43a2ce","style":{"typography":{"textTransform":"uppercase"}},"fontSize":"16","fontFamily":"oswald"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"e9a723","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}},"fontFamily":"oswald","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-oswald-font-family" style="font-style:normal;font-weight:700;text-transform:uppercase"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"customId":"7e671b","fontSize":"16"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"30%","width_desktop":"30%","customId":"8b509c","desktop_flex_grow":"1","style":{"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}}} -->
<div class="wp-block-column" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;flex-basis:30%"><!-- wp:group {"customId":"75d716","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"label":"Next Article","linkLabel":true,"customId":"975eee","style":{"typography":{"textTransform":"uppercase"}},"fontSize":"16","fontFamily":"oswald"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"customId":"50aaf7","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"showTitle":true,"customId":"27f18a","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}},"fontSize":"16","fontFamily":"oswald"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-author {"showBio":true,"customId":"2542e2","fontSize":"16"} /-->

<!-- wp:comments {"customId":"13160e"} -->
<div class="wp-block-comments"><!-- wp:comments-title {"customId":"a36d7e"} /-->

<!-- wp:comment-template {"customId":"9eff22"} -->
<!-- wp:columns {"customId":"5f917f"} -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px","width_desktop":"40px","customId":"90efb8"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"customId":"29c2d5","style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"customId":"e95bc8"} -->
<div class="wp-block-column"><!-- wp:comment-author-name {"customId":"a16c32","fontSize":"small"} /-->

<!-- wp:group {"customId":"37ab49","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"customId":"8b40ee","fontSize":"small"} /-->

<!-- wp:comment-edit-link {"customId":"1ffb58","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content {"customId":"997109"} /-->

<!-- wp:comment-reply-link {"customId":"e191d9","fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"customId":"7011bd"} -->
<!-- wp:comments-pagination-previous {"customId":"21640d"} /-->

<!-- wp:comments-pagination-numbers {"customId":"e3a906"} /-->

<!-- wp:comments-pagination-next {"customId":"55cd8d"} /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form {"customId":"237476"} /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","width_desktop":"25%","customId":"d7e769","style":{"spacing":{"blockGap":"20px"}}} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:image {"id":260,"sizeSlug":"full","linkDestination":"none","customId":"0c9add"} -->
<figure class="wp-block-image size-full"><img src="https://stepfoxthemes.com/buzzed-2/wp-content/uploads/sites/46/2017/01/300x600so5px.jpg" alt="" class="wp-image-260"/></figure>
<!-- /wp:image -->

<!-- wp:query {"queryId":0,"query":{"perPage":5,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"665cb4","customPostsPerPage":5} -->
<div class="wp-block-query"><!-- wp:heading {"customId":"e22a63","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"24","fontFamily":"oswald"} -->
<h2 class="wp-block-heading has-primary-color has-text-color has-link-color has-oswald-font-family has-24-font-size">LATEST NEWS</h2>
<!-- /wp:heading -->

<!-- wp:post-template {"customId":"789554","style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"grid","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:template-part {"slug":"small-featured","customId":"543549"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"37px","customId":"483c0a"} -->
<div style="height:37px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":0,"query":{"perPage":4,"pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"customId":"bee9a3","customPostsPerPage":4} -->
<div class="wp-block-query"><!-- wp:post-template {"customId":"37e732","style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":4}} -->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#576270","isUserOverlayColor":false,"minHeight":187,"minHeightUnit":"px","contentPosition":"top left","customId":"c8f45b","style":{"spacing":{"blockGap":"3px"}},"layout":{"type":"constrained"},"linkToPost":true} -->
<div class="wp-block-cover has-custom-content-position is-position-top-left" style="min-height:187px" data-link-to-post="true"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#576270"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","customId":"f3227d","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"customId":"5abc97","style":{"spacing":{"margin":{"top":"10px","bottom":"10px"},"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:10px;margin-bottom:10px"><!-- wp:post-terms {"term":"category","customId":"167d36","style":{"spacing":{"padding":{"top":"4px","bottom":"4px","left":"0px","right":"0px"}},"typography":{"lineHeight":"1.1","textTransform":"uppercase","fontSize":"11px"},"border":{"radius":"5px"},"elements":{"link":{"color":{"text":"var:preset|color|primary"},":hover":{"color":{"text":"var:preset|color|gray"}}}}},"fontFamily":"oswald"} /-->

<!-- wp:post-title {"textAlign":"left","isLink":true,"customId":"783aea","style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontWeight":"400","lineHeight":"1.3"},"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"fontSize":"20","fontFamily":"oswald"} /-->

<!-- wp:read-more {"content":"Read More","customId":"3430ba","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"textTransform":"uppercase","fontSize":"12px"}},"textColor":"primary","fontFamily":"oswald"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","customId":"5d3a2c"} /-->